<View>
  <Header value="通过 AudioPlus 同步技巧进行视频时间轴分割"/>
  <HyperText name="video" value="$video"/>
  <Labels name="tricks" toName="audio" choice="multiple">
    <Label value="踢翻板" background="#1BB500" />
    <Label value="360 翻板" background="#FFA91D" />
    <Label value="技巧" background="#358EF3" />
  </Labels>
  <AudioPlus name="audio" value="$videoSource" speed="false"/>
</View>

<!--
  It's very important to prepare task data correctly,
  it includes HyperText $video and
  it must be like this example below:
-->

<!-- {
 "video": "<video src='/static/samples/opossum_snow.mp4' width=100% muted /><img src onerror=\"$=n=>document.getElementsByTagName(n)[0];a=$('audio');v=$('video');a.onseeked=()=>{v.currentTime=a.currentTime};a.onplay=()=>v.play();a.onpause=()=>v.pause()\" />",
 "videoSource": "/static/samples/opossum_snow.mp4"
} -->
