<View>
  <View style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 1em">
    <Header value="英文原文" />
    <Header value="中文译文" />

    <Text name="source" value="$source" />

    <TextArea
      name="target"
      toName="source"
      transcription="true"
      showSubmitButton="true"
      maxSubmissions="1"
      editable="true"
      required="true"
    />
  </View>
</View>

<!-- {
 "data": {
 "source": "The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma,[18][19] heated to incandescence by nuclear fusion reactions in its core, radiating the energy mainly as visible light and infrared radiation. It is by far the most important source of energy for life on Earth. Its diameter is about 1.39 million kilometres (864,000 miles), or 109 times that of Earth. Its mass is about 330,000 times that of Earth, and accounts for about 99.86% of the total mass of the Solar System.[20] Roughly three quarters of the Sun's mass consists of hydrogen (~73%); the rest is mostly helium (~25%), with much smaller quantities of heavier elements, including oxygen, carbon, neon, and iron.[21]"
},
"completions": [{"result": [
    {
        "value": {
            "text": [
                "太阳是太阳系中心的恒星。它是一个近乎完美的热等离子体球体，[18][19] 通过其核心的核聚变反应加热至白炽状态，主要以可见光和红外辐射的形式辐射能量。它是迄今为止地球上生命最重要的能量来源。其直径约为139万公里（864,000英里），是地球的109倍。其质量约为地球的330,000倍，约占太阳系总质量的99.86%。[20] 太阳质量的大约四分之三是氢（约73%）；其余主要是氦（约25%），以及少量的重元素，包括氧、碳、氖和铁。[21]"
            ]
        },
        "id": "lr57eDkHoa",
        "from_name": "target",
        "to_name": "source",
        "type": "textarea"
    }
]}]
}
-->
