{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

<!-- Google Analytics removed for intranet deployment -->
{% endblock %}

{% block content %}
<div class="login_page">
  <h1>欢迎来到 慧标系统</h1>
  <!-- <h2>一个成熟的开放源码数据标签解决方案</h2> -->

  <img src="{{ settings.HOSTNAME }}{% static 'images/satellite.svg' %}" height="128px" />

  <div class="toggle">
    {% if not settings.DISABLE_SIGNUP_WITHOUT_LINK %}
        <a href="{{ settings.HOSTNAME }}/user/signup" class="{% if 'signup' in request.path %}active{% endif %}">注册</a>
        <a href="{{ settings.HOSTNAME }}/user/login" class="{% if 'login' in request.path %}active{% endif %}">登陆</a>
    {% endif %}
  </div>

  {% block user_content %}
  {% endblock %}
{% endblock %}